.row { text-align: center; }
.player { width: 100% }
/* assume viewport is 414 x 736 */

body { 
    line-height: 30px;
    font-family: sans-serif;
    font-size: large;
}
table { 
    line-height: 20px;
    font-size: large;
}
.player {
    width: 207px;
}
