.row { text-align: center; }
.player { width: 100% }
.left { margin-right: 30px; }
.right { margin-left: 30px; }
body { 
    line-height: 40px;
    font-family: sans-serif;
    font-size: x-large;
}
table { 
    line-height: 30px;
    font-size: x-large;
}
