/* assume viewport is 414 x 736 */

body { 
    line-height: 30px;
    font-family: sans-serif;
    font-size: large;
}
table { 
    line-height: 30px;
    font-size: large;
}
.player {
}
.field-row {
    width: 100%;
    text-align: center;
}
.inline-button {
    font-size: medium;
    background-color: white;
    min-height: 40px;
}
.vertical-button {
    font-size: medium;
    margin-bottom: 10px;
    display: block;
    background-color: white;
    min-height: 40px;
}

.futsal-floor {
    background-image: url(futsal_floor.png)
}

.dnd-source {
    cursor: move;
}
.dnd-drag {
    cursor: move;
    background: green;
}

.dnd-target {
}

.log-text {
    font-family: sans-serif;
    font-size: small;
    line-height: normal;
}

.log-area {
    overflow-y: auto;
    height: 90%;
}

.modal-dialog-userInput {
    font-size: medium;
    width: 100%;
}

#game_version {
    font-size: large;
    font-weight: bold;
}

#drag-visual {
    display: none;
    background-color: purple;
    color: white;
    z-index: 1000;
    position: absolute;
    padding: 5px 5px 5px 5px;
    border-width: 2px;
    border-color: red;
    border-style: solid;
}

#drag-text {
    font-family: sans-serif;
    font-size: large;
}

.roster-available {
    color: darkgreen;
    font-face: bold;
}

.roster-unavailable {
    color: gold;
    font-style: italic;
}

.roster-deleted {
    color: darkred;
}

/* Style the tab */
span.tab {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
span.tab button {
    font-size: medium;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 11px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
span.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
span.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.top-button-bar {
    margin-bottom: 5px;
}

#time-adjust button {
    padding: 3;
}

#game-clock {
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    float: right;
    text-align: center;
    border-radius: 5px;
    line-height: normal;
}

.plan-divider {
    background-color: darkblue;
    height: 3px;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.pending-assignment {
    animation: blink-animation 1s steps(5, start) infinite;
}

#plan-game-past-scrim {
    background-color: lightblue;
    opacity: 0.5;
    display: none;
    z-index: 100;
    position: absolute;
}
